<h1>Hoy</h1>
<div class="dia_acum">
  <div>Fecha</div>
  <div>Habitaciones</div>
  <div>Dinero acumulado</div>
</div>

<h2>Dias acumulados</h2>

<div class="dia_acum">
  <div>Fecha</div>
  <div>Habitaciones</div>
  <div>Dinero acumulado</div>
</div>


<div class="dia_acum">
  <div>Fecha</div>
  <div>Habitaciones</div>
  <div>Dinero acumulado</div>
</div>

<div class="dia_acum">
  <div>Fecha</div>
  <div>Habitaciones</div>
  <div>Dinero acumulado</div>
</div>


<div>

  <input type="text">
  <input type="password">
  <div>Acumulado</div>
  <div>$ 465448</div>
  <div>Recolectar</div>
</div>
