<app-navbar>
  <div class="due_info_cnt" routerLink="../due">
    <div class="img_due"></div>
    <div class="cargo">Dueño</div>
    <div class="nombre">Albeiro Pabón</div>
  </div>

  <h4 class="tt">Casas disponibles</h4>

  <div class="casa_cnt" (click)="AbrirCasa('1')">
    <div class="im_g"></div>
    <div>
      <div class="nombre">San Bosco</div>
      <div class="cargo">14/12 habitaciones</div>
    </div>
  </div>

  <div class="casa_cnt casa_selected" (click)="AbrirCasa('2')">
    <div class="im_g"></div>
    <div>
      <div class="nombre">San Bosco</div>
      <div class="cargo">14/12 habitaciones</div>
    </div>
  </div>


  <div class="casa_cnt" routerLink="nueva_casa">
    <div class="im_g"></div>
    <div>
      <div class="cargo">Agregar nueva casa</div>
    </div>
  </div>

  <div class="casa_cnt" (click)="cerrarSesion()"> Salir</div>
</app-navbar>

<div class="main_cnt">
  <router-outlet></router-outlet>
</div>
