<app-navbar>
  <div class="due_info_cnt" routerLink="../due" (click)="casaSelected={}">
    <div class="img_due"></div>
    <div class="cargo">Dueño</div>
    <div class="nombre">{{info_user.name +' '+ info_user.last_name}}</div>
  </div>

  <h4 class="tt">Casas disponibles</h4>

  <div class="casa_cnt" *ngFor="let c of casas" (click)="AbrirCasa(c)" [class.casa_selected]="casaSelected===c">
    <div class="im_g"></div>
    <div>
      <div class="nombre">{{c.nombre}}</div>
      <div class="cargo">{{c.dir}}</div>
    </div>
  </div>

  <div class="casa_cnt" routerLink="nueva_casa" (click)="casaSelected={}">
    <div class="im_g"></div>
    <div>
      <div class="cargo">Agregar nueva casa</div>
    </div>
  </div>

  <div class="casa_cnt" (click)="cerrarSesion()"> Salir</div>
</app-navbar>

<div class="main_cnt">
  <router-outlet></router-outlet>
</div>
