<div class="cnt">
  <div class="hb_ttl">
    <div class="bt_atras" routerLink="../../">Atrás</div>
    <h1 class="ss">Habitación #{{habitacion_seleccionada}}</h1>
  </div>

  <div class="info_habi__container">
    <div class="sas">
      <div class="info_habi_img"></div>
      <div>

        <div class="info_habi_nombre">Camilo Rojas Pc</div>
        <div class="doc_cnt">
          <div class="info_habi_tipo_doc">CC</div>
          <div class="info_habi_doc">115.654.856</div>
        </div>
        <div class="bt_finalizar">Finalizar Estadia</div>
      </div>
    </div>

    <div class="dias">
      <div class="sa">Dias</div>
      <div class="ja">256</div>
    </div>

    <div class="saldo_cnt">
      <div class="sa">Saldo</div>
      <div class="ja">$ 5.895</div>
    </div>
  </div>


  <div class="nuevo_pago_cnt">
    <p class="ns">+ Nuevo pago</p>
    <input type="text" placeholder="Nombre" class="valor">
    <div class="agregar">Agregar Registro</div>
  </div>

  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>

  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
  <div class="pago">
    <div class="hou">
      <p class="ns">7 de Febrero de 2018</p>
      <p class="ns">04:55 PM</p>
    </div>
    <div class="">$ 256 54</div>
  </div>
</div>
