<div class="cnt">
  <div class="hb_ttl">
    <div class="bt_atras" routerLink="../../">Atrás</div>
    <div>
      <h2 class="ttl_hb">Habitación #{{habitacion_seleccionada}}</h2>
      <div>Estado: Al dia :)</div>
    </div>

  </div>

  <div class="info_habi_container">
    <div class="sas">
      <div class="info_habi_img"></div>
      <div>
        <div class="info_habi_nombre">Camilo Rojas Pc</div>
        <div class="doc_cnt">
          <div class="info_habi_tipo_doc">CC</div>
          <div class="info_habi_doc">115.654.856</div>
        </div>


        <select name="Suscripción" class="select_sus">
          <option value=""><strong>Solo </strong>($4500)</option>
          <option value=""><strong>Acompañado </strong>($8500)</option>
        </select>
        <!--<div class="bt_finalizar">Finalizar Estadia</div>-->
      </div>
    </div>

    <div class="datos_content">

      <div class="saldo_cnt">
        <div class="sa">Precio del dia</div>
        <div class="ja">$ 5.895</div>
      </div>

      <div class="dias">
        <div class="sa">Dias</div>
        <div class="ja">256</div>
      </div>

      <div class="saldo_cnt">
        <div class="sa">Saldo</div>
        <div class="ja">$ 5.895</div>
      </div>

    </div>


  </div>


  <div class="nuevo_pago_cnt">
    <p class="ns">Nuevo pago</p>
    <input type="text" placeholder=" $ valor" class="valor">
    <div class="agregar">Agregar Registro</div>
  </div>

</div>
