<!--<div *ngIf="chart">-->
  <!--<canvas id="canvas">{{ chart }}</canvas>-->
<!--</div>-->

<div class="content_rs">
  <app-card-resumen-dia></app-card-resumen-dia>
  <app-card-resumen-dia></app-card-resumen-dia>
  <app-card-resumen-dia></app-card-resumen-dia>
  <app-card-resumen-dia></app-card-resumen-dia>
  <app-card-resumen-dia></app-card-resumen-dia>
  <app-card-resumen-dia></app-card-resumen-dia>
  <app-card-resumen-dia></app-card-resumen-dia>
  <app-card-resumen-dia></app-card-resumen-dia>
</div>
